.mo-chart__percent {
  position: relative;
  font-size: 0;
  line-height: 0;

  &__detail {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    left: 50%;
    font-size: 14px;

    &.line {
      margin-top: -20px;
      .mo-chart__percent__detail {
        &__value,
        &__text {
          display: inline-block;
          padding: 0;
          vertical-align: middle;
          margin: 0 6px;
        }
      }
    }

    &__value {
      height: 34px;
      font-size: 24px;
      font-weight: 400;
      color: $title-color;
      line-height: 34px;
      padding: 0 12px;
    }
    &__text {
      height: 26px;
      font-size: 18px;
      font-weight: 400;
      color: $light-color;
      line-height: 25px;
      padding: 0 12px;
    }
  }
  &__circle {
    transform-origin: center;
    transform: rotate(-90deg);
  }

  .dash-animate {
    transition: stroke-dasharray 0.5s, stroke 0.5s;
  }
  .dash-back {
    transition: stroke 0.5s;
  }

  .chart-text-right{
    right: 0;
    left: auto;
    margin-top: 0;
    .mo-chart__percent__detail__value{
      font-size: 14px;
    }
  }
}
