[class*="mo-col__"] {
  float: left;
}

.mo-col-0 {
  display: none;
}

@for $i from 0 through 24 {
  .mo-col__#{$i} {
    width: ($i / 24 * 100) * 1%;
  }

  .mo-col--offset__#{$i} {
    margin-left: ($i / 24 * 100) * 1%;
  }
}
