.body--overflow-hidden {
  overflow: hidden;
}

.mo-dialog-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  z-index: 1000;
}

.mo-dialog-wrapper {
  position: relative;
  width: 100%;
  max-height: 100%;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  top: 50%;
  padding: 40px 0;
  transform: translate3d(0, -50%, 0px);
}

.mo-dialog {
  $close-font-size: 16px;
  $close-wrap-size: $close-font-size +3px;
  $box-padding: 24px;
  $box-padding-top: 12px;

  position: relative;
  display: inline-block;
  // top: 50%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  // min-width: 400px;
  // max-width: 100%;
  min-width: 400px;
  min-height: 160px;
  // max-height: 90%;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12),
    0px 4px 12px -8px rgba(0, 0, 0, 0.09);
  z-index: 1000;

  &__header {
    position: relative;
  }

  &__title {
    padding: 16px $box-padding;
    font-size: $font-size-l;
    font-weight: 600;
    color: $title-color;
    line-height: 24px;
    box-shadow: 0px 1px 0px 0px #f5f5f5;

    &-inner {
      font-weight: 600;
    }
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -$close-font-size / 2;
    font-size: $close-font-size;
    cursor: pointer;
  }

  &__main {
    padding: $box-padding;
    overflow: auto;
    line-height: 24px;

    .mo-form {
      margin: 0 56px;
    }


    &::-webkit-scrollbar {
      background-color: transparent;
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #b2b2b2;
    }
  }

  &__footer {
    padding: 0 $box-padding $box-padding;
    margin-top: -4px;

    &--none {
      display: none;
    }
  }

  &__button-group {
    text-align: right;

    .mo-dialog__button-item {
      &+.mo-dialog__button-item {
        margin-left: 8px;
      }
    }
  }

  &__close-space {
    padding-right: $box-padding * 2 + $close-wrap-size;

    .mo-dialog__center {
      padding-left: $box-padding + $close-wrap-size;
    }
  }

  &__center {
    text-align: center;
    // &.mo-dialog__title-inner {
    //   padding-left: $box-padding + $close-wrap-size;
    // }
  }

  @at-root {
    &--parent-hidden {
      overflow: hidden;
    }
  }
}

.v-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(#000, 0.5);
}

.mo-dialog-fade-enter-active {
  // animation: pop-fade-in 0.3s;
  transition: opacity 0.3s;
}

.mo-dialog-fade-leave-active {
  // animation: pop-fade-out 0.3s;
  transition: opacity 0.3s;
}

.mo-dialog-fade-enter-from,
.mo-dialog-fade-leave-to {
  opacity: 0;
}

// @keyframes pop-fade-in {
//   0% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }
// }
// @keyframes pop-fade-out {
//   0% {
//     opacity: 1;
//   }

//   100% {
//     opacity: 0;
//   }
// }

.mo-dialog-inner-fade-enter-active {
  animation: dialog-inner-fade-in 0.3s;
}

.mo-dialog-inner-fade-leave-active {
  animation: dialog-out-fade-out 0.3s;
}

@keyframes dialog-inner-fade-in {
  0% {
    transform: translate3d(0, -55%, 0);
  }

  100% {
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes dialog-out-fade-out {
  0% {
    transform: translate3d(0, -50%, 0);
  }

  100% {
    transform: translate3d(0, -55%, 0);
  }
}

@keyframes dialog-fade-in {
  0% {
    transform: translate3d(-50%, -55%, 0);
  }

  100% {
    transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes dialog-fade-out {
  0% {
    transform: translate3d(-50%, -50%, 0);
  }

  100% {
    transform: translate3d(-50%, -55%, 0);
  }
}