$main-active-light-color: rgba($main-active-color, 0.9);

@mixin input-size($fontSize, $lineHeight) {
  font-size: $fontSize;
  vertical-align: top;

  .input-text,
  .mo-input-group__splitter,
  .placeholder-text {
    font-size: $fontSize;
    height: $lineHeight;
  }

  .mo-input-group__splitter,
  .mo-input__middle {
    height: $lineHeight;
    line-height: $lineHeight;
  }

  .mo-input__search {
    height: $lineHeight - 2;
    line-height: $lineHeight - 2;
  }

  .mo-input__icon--suffix {
    height: $lineHeight;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.mo-input {
  position: relative;
  display: inline-block;
  width: $elem-width;

  ::placeholder {
    color: $disabled-color;
  }

  &__middle {
    color: $border-color;
  }

  &__icon {
    font-size: $font-size-l;
    width: $font-size-l;
    display: inline-block;

    &.v-icon-close-plane {
      color: $disabled-color;
    }

    &--prefix {
      position: absolute;
      height: 100%;
      padding: 0 8px;
      vertical-align: middle;
      color: $light-color;
    }

    &--suffix {
      @extend .mo-input__icon--prefix;
      right: 0;
      top: 0;

      .input-icon+.input-icon {
        padding-left: 8px;
      }
    }
  }

  &__search {
    position: relative;
    top: 1px;
    left: -1px;
    margin: 0px -8px;
    padding: 0 8px;
    width: auto;
    display: inline-block;
    //border: 1px solid transparent;
    // border-left: 1px solid $border-color;

    &:hover {
      // background-color: rgba($main-active-color, 0.55);
      color: $main-active-color;
      // border-left: 1px solid $main-active-color;
    }

    &:focus {
      background-color: #fff;
      border: 1px solid $main-active-color;
    }

    &:active {
      background-color: rgba($main-active-color, 0.7);
      color: darken($main-active-color, 5%);
      // border-left: 1px solid darken($main-active-color, 5%);
    }
  }

  &--prefix .input-text {
    padding-left: 32px;
  }

  &--medium {
    line-height: 22px;
    @include input-size($font-size-m, $form-line-height);

    &.mo-input--no-border {
      @include input-size($font-size-m, $form-line-height - 2);
    }
  }

  &--small {
    line-height: 20px;
    @include input-size($font-size-s, $form-line-height-s);

    &.mo-input--no-border {
      @include input-size($font-size-s, $form-line-height-s - 2);
    }
  }

  &--large {
    line-height: 24px;
    @include input-size($font-size-l, $form-line-height-l);

    &.mo-input--no-border {
      @include input-size($font-size-l, $form-line-height-l - 2);
    }
  }

  &--no-border {
    &:hover {
      border: none;
      box-shadow: none;
    }

    .input-text {
      border: none;
      box-shadow: none;
      width: calc(100% - 2px);

      &:focus {
        box-shadow: none;
      }
    }
  }
}

::placeholder {
  color: $placeholder-color;
}

.mo-input-textarea {
  line-height: 20px;

  .input-word-limit {
    position: absolute;
    bottom: 0;
    right: 8px;
  }

  .placeholder-text {
    line-height: 20px;
    padding: 0 8px;
  }
}

.input-textarea {
  border: 1px solid $border-color;
  border-radius: 2px;
  padding: 4px 8px;

  &.is-disabled {
    border: 1px solid $disabled-border-color  !important;
  }
}

//输入框组
.mo-input-group {
  width: $elem-width;
  display: inline-block;
  vertical-align: top;

  &__splitter {
    position: absolute;
    padding: 0 4px;
    right: 0;
    top: 0;
    transform: translateX(50%);
    height: 100%;
    text-align: center;
    z-index: 9;
  }

  &__item {
    //display: inline-block;
    position: relative;
  }

  &--ip,
  &--mac {
    input {
      text-align: center;
    }
  }
}

//输入框组公共样式
.input-group--content {
  border: 1px solid $border-color;
  position: relative;
  border-radius: 2px;
}

.is-hover {
  border: 1px solid $border-hover-color;
}

.is-input-error {
  border: 1px solid $error-color;
}

.is-controls {
  .input-text {
    padding-right: 36px;
  }
}

//计数器
.mo-input-number {
  display: inline-block;
  position: relative;
  width: $elem-width;
  vertical-align: top;

  .mo-input {
    display: block;
    width: 100%;
  }

  &__button {
    position: absolute;
    right: 0px;
    width: 100%;
    height: 50%;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-left: 1px solid $border-color;
    transition: height 0.1s linear;

    &+.mo-input-number__button {
      border-top: 1px solid $border-color;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -6px;
      margin-top: -6px;
    }

    &:hover {
      color: $main-active-color;
    }

    &:focus,
    &:active {
      color: $main-active-color;
      background: $disabled-background-color;
    }

    &.btn-disabled {
      cursor: not-allowed;
      background: $disabled-background-color;
      color: $disabled-color  !important;
      border-color: #e9e9e9;
      transition: none;

      &:focus {
        border-color: $border-color;
        box-shadow: none;
        color: $disabled-color;
      }
    }
  }

  //左右控制器位置
  &__position .input-text {
    padding: 0 40px;
  }

  &__controls {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0 2px;
    min-width: 24px;
    width: 32px;
    border: none;
    z-index: 4;
    text-align: center;

    &--left {
      left: 0;
      border-right: 1px solid $border-color;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:hover,
      &:focus {
        border-right: 1px solid $main-active-light-color;
      }
    }

    &--right {
      right: 0;
      border-left: 1px solid $border-color;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:hover,
      &:focus {
        border-left: 1px solid $main-active-light-color;
      }
    }

    &.btn-disabled {
      border-color: #e9e9e9 !important;
    }
  }

  .up {
    top: 0;
  }

  .down {
    bottom: 0;
  }

  &__arrow {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 20px;

    &:hover {
      .mo-input-number__button {
        height: 40%;

        &:hover {
          height: 60%;
        }
      }

      .btn-disabled {
        height: 50%;

        &:hover {
          height: 50%;
        }
      }
    }
  }

  &--small {
    .mo-input-number__arrow {
      width: 16px;
    }

    .mo-input-number__controls {
      width: 22px;
    }

    .mo-input-number__position .input-text {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &--large {
    .mo-input-number__arrow {
      width: 24px;
    }

    .mo-input-number__controls {
      width: 40px;
    }

    .mo-input-number__position .input-text {
      padding-left: 48px;
      padding-right: 48px;
    }
  }
}