.mo-notification {
  $line-height: 22px;
  $close-font-size: 9px;
  $close-wrap-size: $close-font-size + 3px;
  $box-padding: 24px;
  $box-padding-top: 16px;
  $base-transition: opacity 0.3s, transform 0.4s !default;

  position: fixed;
  padding: $box-padding-top $box-padding $box-padding;
  width: 400px;
  max-width: 400px;
  background-color: #fff;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12),
    0px 4px 12px -8px rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  // transition: opacity 0.3s, transform 0.4s;

  // &__header {

  // }
  &__title {
    margin-bottom: 8px;
    color: $title-color;
    font-size: $font-size-m;
    font-weight: 500;
    line-height: $line-height;
  }

  &__main {
    &--default {
      color: $info-color;
      font-size: $font-size-m;
      font-weight: 400;
      line-height: $line-height;
    }
  }

  &__button {
    margin-top: 16px;
    text-align: right;
  }

  &__close {
    position: absolute;
    top: $box-padding-top + ($line-height - $close-wrap-size) / 2;
    right: $box-padding;
    font-size: 16px;
    color: rgba($title-color, 0.5);
    cursor: pointer;
  }

  &__close-space {
    padding-right: $box-padding + $close-wrap-size;
  }

  &--icon {
    padding: 20px 24px 20px 72px;
  }

  &__iconbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 56px;
    border-right: 1px solid #eeeef1;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    border-radius: 50%;

    &--success {
      color: $success-color;
    }
    &--error {
      color: $error-color;
    }
    &--warning {
      color: $warn-color;
    }
    &--notice {
      color: $main-active-color;
    }
  }

  // .mo-notification-fade-enter,
  // .mo-notification-fade-leave-active {
  //   opacity: 0;
  //   transform: translate3d(100%, 0, 0);
  // }

  @each $position1, $position2 in (top, right), (top, left), (bottom, right),
    (bottom, left)
  {
    &--#{$position1}-#{$position2} {
      transition: $base-transition, $position1 0.4s, $position2 0.4s;

      @at-root {
        .mo-notification-fade-#{$position2}-enter,
        .mo-notification-fade-#{$position2}-leave-active {
          opacity: 0;
          @if $position2 == left {
            transform: translate3d(-100%, 0, 0);
          } @else {
            transform: translate3d(100%, 0, 0);
          }
        }
      }
    }
  }
}
