.mo-popups__wrapper {
  display: inline-block;
}

.mo-popups {
  position: fixed;

  &__main {
    min-width: 16px;
    min-height: 32px;
    border-radius: 2px;
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05),
      0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  }

  &__arrow {
    position: absolute;
  }

  &--hidden {
    visibility: hidden;
  }

  &--light {
    .mo-popups__main {
      color: rgba(#000, 0.65);
      background-color: #fff;
    }
    .mo-popups__arrow {
      polygon {
        fill: #fff;
      }
    }
  }
  &--dark {
    .mo-popups__main {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.85);
    }
    .mo-popups__arrow {
      polygon {
        fill: rgba(0, 0, 0, 0.85);
      }
    }
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05),
      0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  }

  @at-root {
    .pop-fade-in-out-enter-active {
      animation: pop-fade-in 0.1s;
    }
    .pop-fade-in-out-leave-active {
      animation: pop-fade-out 0.1s;
    }

    @keyframes pop-fade-in {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
    @keyframes pop-fade-out {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
  }
}
