@mixin switch-size($width, $height, $fontSize) {
  .mo-switch__icon {
    width: $width;
    height: $height;
    border-radius: $height / 2;

    &:after {
      width: $height - 4;
      height: $height - 4;
    }

    &--active:after {
      margin-left: -$width / 2;
    }
  }

  .mo-switch__label {
    line-height: $height;
    font-size: $fontSize;
  }

}

.mo-switch {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 0;

  &__item {
    position: relative;
    cursor: pointer;
    display: inline-block;
    // vertical-align: middle;
  }

  &__icon {
    color: $border-color;
    margin: 0;
    display: inline-block;
    position: relative;
    outline: 0;
    box-sizing: border-box;
    background: $disabled-color;
    cursor: pointer;
    transition: border-color .3s, background-color .3s;
    vertical-align: middle;

    &:after {
      content: " ";
      position: absolute;
      top: 2px;
      left: 2px;
      border-radius: 100%;
      transition: all .3s;
      background-color: #fff;
    }

    &--active {
      background: $main-active-color;
      color: $main-active-color;

      &:after {
        right: 2px;
        left: 100%;
        color: $main-active-color;
      }
    }

    &--disabled {
      background: rgba($disabled-color, 0.4);;
      cursor: not-allowed;

      &.mo-switch__icon--active {
        background: rgba($main-active-color, 0.4);
      }
    }
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
    padding-left: 4px;
  }

  &--large {
    @include switch-size($switch-size-l-w, $switch-size-l-h, $font-size-l);

    .mo-switch__item {
      line-height: $form-line-height-l;
    }
  }

  &--medium {
    @include switch-size($switch-size-m-w,$switch-size-m-h, $font-size-m);

    .mo-switch__item {
      line-height: $form-line-height;
    }
  }

  &--small {
    @include switch-size($switch-size-s-w,$switch-size-s-h, $font-size-s);

    .mo-switch__item {
      line-height: $form-line-height-s;
    }
  }

  &--disabled {
    color: $disabled-color;
    cursor: not-allowed;

    .mo-switch__label {
      @extend .mo-switch--disabled;
    }
  }
}