// 全局变量
$padding: 14px;
// 主色
$main-active-color: #0058e4;

// S-M-L 三种size元素高度
$form-line-height-s: 20px;
$form-line-height: 24px;
$form-line-height-l: 32px;
// 按钮尺寸
$form-button-height-s: 24px;
$form-button-height: 32px;
$form-button-height-l: 40px;
// S-M-L 三种size文字大小
$font-size-s: 12px;
$font-size-m: 12px;
$font-size-l: 14px;
// 不同组件radius大小
$check-radius: 4px;
$button-radius: 4px;
// 不同尺寸开关大小
$switch-size-l-w: 36px;
$switch-size-l-h: 20px;
$switch-size-m-w: 28px;
$switch-size-m-h: 16px;
$switch-size-s-w: 20px;
$switch-size-s-h: 12px;

// 成功相关颜色
$success-color: #1db879;
// 警告相关颜色
$warn-color: #f5a300;
// 错误相关颜色
$error-color: #f7421e;
// 标题颜色
$title-color: #4b4b5a;
// 普通文本颜色
$info-color: #8d8c99;
// 弱化信息颜色
$light-color: #8b8c99;
// 边框颜色
$border-color: #e8e9ec;
$border-hover-color: #cbccd2;
// 禁用字体颜色
$disabled-color: #cbccd2;
// 禁用边框颜色
$disabled-border-color: #e8e9ec;
// 禁用背景颜色
$disabled-background-color: #f4f5f7;
// placeholder颜色
$placeholder-color: #ccc;

// 表单元素宽度，例如：select、input等
$elem-width: 208px;

$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
  opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    visibility: hidden;
    clear: both;
  }
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin bold {
  font-weight: 600;
}

@mixin disabled-style {
  color: $disabled-color  !important;
  cursor: not-allowed;
}

// popover组件相关尺寸
$arrow-height: 6px;
$arrow-bottom-side-length: 10px;
// 步骤条组件相关尺寸
$step-icon-size: 32px;
$step-icon-line-space: 8px;

:export {
  arrowHeight: $arrow-height;
  arrowBottomSideLength: $arrow-bottom-side-length;
  iconSize: $step-icon-size;
  iconLineSpace: $step-icon-line-space;
}